<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title><%= title || "WhatIfWorld" %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/scenario.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/flash.css">
     <link rel="stylesheet" href="/css/like-comment.css">
     <link rel="stylesheet" href="/css/share.css">
</head>
<body>
    <% if (typeof activePage !== 'undefined') { %>
        <% if (activePage === "home") { %>
            <%- include('../partials/header_home') %>
        <% } else { %>
            <%- include('../partials/header_internals') %>
        <% } %>
    <% } %>
      <%- include('../partials/flash') %>

    <%-body%>
        
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/scenario.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/like-comment.js"></script>
    <script src="/js/share.js"></script>


</body>

</html>